@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #383838;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  border-radius: 20px;
}
.page_wrap {
  width: 100%;
}
header {
  width: 100%;
  height: auto;
  /* border-bottom: 1px solid #eeeeee; */

  position: fixed;
  z-index: 999;
}
.headerwrap {
  width: 100%;
  height: 80px;

  background-color: #fff;
  transition: 0.3s;
}
.headerwrap:hover {
  background-color: #fff;
}
.header_wrapper {
  width: 84%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
h1 {
  width: 140px;
  height: 20px;
  padding: 30px 0;
}
nav {
  width: 36%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  width: 100%;
  height: auto;
  position: relative;
}
nav > ul::after {
  position: absolute;
  top: 80px;
  left: -80px;
  content: "메뉴배경";
  font-size: 0;
  display: block;
  width: 128%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  /* border: 1px solid #f5f5f5; */

  border-top: none;
  transition: 0.3s;
  border-radius: 0px 0px 20px 20px;
}

nav > ul:hover::after {
  height: 240px;
}
.submenu:not(:hover) > li > a {
  color: #797979;
}
.icons {
  display: flex;
  padding: 30px 0;
  column-gap: 20px;
}

.login {
  width: 21px;
  height: 21px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -2211px -499px;
}
.login:hover {
  background-repeat: no-repeat;
  background-image: url(../img/icon/login_green.png);
  background-position: 1px 0px;
  background-size: 90%;
}
.search {
  width: 20px;
  height: 20px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -1293px -628px;
}
.search:hover {
  background-image: url(../img/icon/search_green.png);

  background-position: 1px 20px;
  background-size: 102%;
}

/*2차메뉴*/
nav > ul > li {
  position: relative;
  top: 0;
  left: 0;
}
.submenu {
  width: 156%;
  height: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 80px;
  left: -18px;
  line-height: 32px;
  transition: 0.5s;
  column-gap: 70px;
  color: #575757;
  text-align: center;
  z-index: 55;
  transition: 0.3s;
}
.submenu li {
  padding-top: 20px;
}
nav > ul:hover .submenu {
  height: 210px;
}
nav > ul > li:hover > a {
  color: #237b22;
}
.submenu > li:hover > a {
  color: #237b22;
}
/* 메뉴 애니메이션 */
nav > ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(1):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 72px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 56px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(3):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 56px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(4):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 56px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav ul li:nth-child(1):hover::after {
  width: 72px;
  transform: scaleX(1);
}
nav ul li:nth-child(2):hover::after {
  width: 56px;
  transform: scaleX(1);
}
nav ul li:nth-child(3):hover::after {
  width: 56px;
  transform: scaleX(1);
}
nav ul li:nth-child(4):hover::after {
  width: 56px;
  transform: scaleX(1);
}

section {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/* 검색창 */
.top_searchbar {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 50px 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  opacity: 0;
}
.top_searchbar form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.input_box {
  width: 630px;
}
.input_box input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #464646;
  color: #464646;
  height: 50px;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  outline: none;
}
.search_btn {
  box-sizing: border-box;
  padding: 16px 0;
}
/* 섹션1 */
.sec01_wrap {
  width: 100%;
  height: 478px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
}
.sec01_wrap:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(../img/recipe/recipe_main.png);
  background-repeat: no-repeat;
  background-position: 0 5vh;
  background-size: 105%;
}
.visual_box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 5%;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 100;
  top: 48%;
}
.visual_box > h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
}
.visual_box > p {
  font-size: 42px;
  color: #fff;
  font-weight: 600;
}
/* 섹션2 */
.sec02_wrap {
  width: 100%;
  max-width: 1920px;
  height: 652px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
.sec02_wrap > h3 {
  box-sizing: border-box;
  padding: 0 10%;
  font-size: 32px;
  color: #000;
  font-weight: bold;
  margin-bottom: 42px;
  text-align: center;
}
.sec02_wrapper {
  width: 95%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.left_grey_1,
.right_grey_1 {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.left_grey_1 {
  left: 10px; /* 왼쪽 화살표 위치 */
}

.right_grey_1 {
  right: 10px; /* 오른쪽 화살표 위치 */
}

.sec02_all_box {
  margin: 0 auto;
  width: 83%;
  height: 545px;
}
.sec02_box {
  width: calc(33.3% - 20px);
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-right: 20px; */
  flex: 1 1 calc(33.3% - 20px);
  border-radius: 12px;
  background-color: white;
  border: 1px solid #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.img_box {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 18px;
  border-radius: 12px 12px 0 0;
}
.txt_box {
  width: 100%;
  height: 160px;
  display: flex;
  gap: 1px;
  box-sizing: border-box;
  padding: 0px 10px;
}
.img_box img {
  width: 100%;
}
.txt_box_txt {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.txt_box_icon {
  width: fit-content;
  box-sizing: border-box;
}
.txt_box_icon > a {
  display: block;
  box-sizing: border-box;
  background-color: #3b3a3a;
  width: 50px;
  height: 50px;
  padding: 11px 13px;
  border-radius: 8px;
  opacity: 0.7;
}
.txt_box_icon > a img {
  width: 100%;
}
.txt_box h3 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 18px;
  transition: 0.2s;
  line-height: 1.2;
}
.txt_box p {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 12px;
  transition: 0.2s;
  line-height: 1.2;
}
.txt_box h4 {
  font-size: 18px;
  font-weight: 400;
  color: #ff1f1f;
  margin-bottom: 18px;
  transition: 0.2s;
  line-height: 20px;
}
.sale {
  text-decoration: line-through;
  color: #5e5e5e;
}
.sec02_photo h3:hover {
  text-decoration: underline;
}
/* 세번째 섹션 */

.sec03_wrap {
  width: 83%;
  height: 230px;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.sec03_wrap .ad {
  width: 100%;
  height: 100%;
  background-image: url(../img/market/ad2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

/* 네번째 섹션 */
.sec04_wrap {
  width: 83%;
  height: fit-content;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
}
/* 상품왼쪽메뉴 */
.sec04_wrap .market_nav {
  width: 20%;
  height: fit-content;
}

.sec04_wrap .market_nav h2 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 48px;
  font-weight: 700;
}
.sec04_wrap .market_nav > h2::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  background-color: #939393;
  position: relative;
  top: 24px;
}

.sec04_wrap .market_nav ul li {
  font-size: 16px;
  line-height: 32px;
  color: #939393;
}
/* 상품 박스 */
.market_box {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
}
.market_box h2 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 48px;
  font-weight: 700;
}

.market_box h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #939393;
  position: relative;
  top: 24px;
}
.list_search {
  margin-bottom: 24px;
  margin-left: auto;
}

.photo_box {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photobox1 {
  width: calc(33.3% - 20px);
  height: 480px;
  margin-bottom: 36px;
}

.photobox1 .market_photobox1,
.photobox1 .market_photobox2,
.photobox1 .market_photobox3,
.photobox1 .market_photobox4,
.photobox1 .market_photobox5,
.photobox1 .market_photobox6,
.photobox1 .market_photobox7,
.photobox1 .market_photobox8,
.photobox1 .market_photobox9,
.photobox1 .market_photobox10,
.photobox1 .market_photobox11,
.photobox1 .market_photobox12 {
  width: 100%;
  height: 380px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 36px;
  cursor: pointer;
}
.photobox1 .market_photobox1 {
  background-image: url(../img/market/market1.jpg);
  transition: 0.2s;
}

.photobox1 .market_photobox2 {
  background-image: url(../img/market/market2.jpeg);
  transition: 0.2s;
}

.photobox1 .market_photobox3 {
  background-image: url(../img/market/market3.jpg);
  transition: 0.2s;
}
.photobox1 .market_photobox4 {
  background-image: url(../img/market/market4.jpg);
  transition: 0.2s;
}

.photobox1 .market_photobox5 {
  background-image: url(../img/market/market5.jpg);
  transition: 0.2s;
}
.photobox1 .market_photobox6 {
  background-image: url(../img/market/market6.jpeg);
  transition: 0.2s;
}
.photobox1 .market_photobox7 {
  background-image: url(../img/market/market7.jpg);
  transition: 0.2s;
}
.photobox1 .market_photobox8 {
  background-image: url(../img/market/market8.jpeg);
  transition: 0.2s;
}
.photobox1 .market_photobox9 {
  background-image: url(../img/market/market9.jpg);
  transition: 0.2s;
}
.photobox1 .market_photobox10 {
  background-image: url(../img/market/market10.PNG);
  transition: 0.2s;
}
.photobox1 .market_photobox11 {
  background-image: url(../img/market/market11.jpeg);
  transition: 0.2s;
}
.photobox1 .market_photobox12 {
  background-image: url(../img/market/market12.png);
  transition: 0.2s;
}
.photobox1 p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  transition: 0.2s;
  margin-bottom: 18px;
}

.photobox1 h3 {
  font-size: 24px;
  color: #e00000;
  font-weight: 700;
  transition: 0.2s;
}

/* 푸터 */
footer {
  width: 1600px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 48px;
}
footer img {
  margin-bottom: 32px;
}
footer p {
  font-size: 16px;
  color: #b6b6b6;
  margin-bottom: 32px;
  line-height: 24px;
}
.bottom_txt {
  display: flex;
  justify-content: space-between;
}
.txt_h4 {
  display: flex;
  column-gap: 20px;
}
.bottom_txt h4 {
  color: #797979;
  font-size: 16px;
}
