@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #383838;
}
.page_wrap {
  width: 100%;
}
header {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eeeeee;

  position: fixed;
  z-index: 999;
}
.headerwrap {
  width: 100%;
  height: 80px;

  background-color: transparent;
  transition: 0.3s;
}
.headerwrap:hover {
  background-color: #fff;
}
.header_wrapper {
  width: 1600px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
h1 {
  width: 140px;
  height: 20px;
  padding: 30px 0;
}
nav {
  width: 36%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  width: 100%;
  height: auto;
  position: relative;
}
nav > ul::after {
  position: absolute;
  top: 80px;
  left: -80px;
  content: "메뉴배경";
  font-size: 0;
  display: block;
  width: 128%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;

  border-top: none;
  transition: 0.3s;
  border-radius: 0px 0px 20px 20px;
}

nav > ul:hover::after {
  height: 240px;
}
.submenu:not(:hover) > li > a {
  color: #797979;
}
.icons {
  display: flex;
  padding: 30px 0;
  column-gap: 20px;
}

.login {
  width: 20px;
  height: 20px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -2211px -499px;
}
.search {
  width: 20px;
  height: 20px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -1293px -628px;
}
/*2차메뉴*/
nav > ul > li {
  position: relative;
  top: 0;
  left: 0;
}
.submenu {
  width: 156%;
  height: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 80px;
  left: -18px;
  line-height: 32px;
  transition: 0.5s;
  column-gap: 70px;
  color: #575757;
  text-align: center;
  z-index: 55;
  transition: 0.3s;
}
.submenu li {
  padding-top: 20px;
}
nav > ul:hover .submenu {
  height: 210px;
}
nav > ul > li:hover > a {
  color: #88b14b;
}
.submenu > li:hover > a {
  color: #88b14b;
}
/* 메뉴 애니메이션 */
nav > ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(3):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(4):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav ul li:nth-child(1):hover::after {
  width: 78px;
  transform: scaleX(1);
}
nav ul li:nth-child(2):hover::after {
  width: 63px;
  transform: scaleX(1);
}
nav ul li:nth-child(3):hover::after {
  width: 63px;
  transform: scaleX(1);
}
nav ul li:nth-child(4):hover::after {
  width: 45px;
  transform: scaleX(1);
}
section {
  width: 100%;
}
.section_wrapper {
  width: 100%;
}
/* 섹션1 */
.sec01_wrap {
  width: 1920px;
  height: 952px;
  background-color: #797979;
  margin: 0 auto;
}
.back_box {
  width: 1920px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../img/partners/bg_partner.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 80px 160px;
}
.back_box .top_txt {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.back_box .top_txt .text_box {
  margin-top: 200px;
  width: fit-content;
  height: fit-content;
}
.back_box .top_txt .text_box h4 {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-bottom: 22px;
}
.back_box .top_txt .text_box h2 {
  font-size: 60px;
  color: #8dc075;
  font-weight: bold;
  margin-bottom: 75px;
}
.back_box .top_txt .text_box p {
  font-size: 16px;
  color: #949393;
  font-weight: 300;
  line-height: 20px;
}
.back_box .top_txt .text_box a {
  width: 172px;
  height: 172px;
  background-color: #237b22;
  color: #fff;
  font-size: 24px;
  border-radius: 100px;
}
.partners_img {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 151px;
  right: 0;
}

.bottom_txt {
  margin-top: 96px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  box-sizing: border-box;
  padding: 100px;
  line-height: 48px;
}
.green_btn {
  width: fit-content;
  height: fit-content;
  text-align: center;
  box-sizing: border-box;
  padding: 58px 45px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  top: 280px;
}
.green_btn a {
  display: block;
  width: 172px;
  height: 172px;
  border-radius: 200px;
  background-color: #8dc075;
  color: #fff;
  box-sizing: border-box;
  padding: 50px 0;
}
.green_btn a::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/bottom.png);
  position: relative;
  top: 12px;
  left: 76px;
}
/* 두번째 섹션 */
.sec02_wrap {
  width: 1920px;
  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
}
.partners_info {
  margin: 0 auto;
  width: 1600px;
  height: fit-content;
  box-sizing: border-box;
  padding: 150px 0px;
}
.partners_info > h2 {
  font-size: 48px;
  color: #585858;
  text-align: center;
  font-weight: bold;
  margin-bottom: 110px;
}
.partners_box {
  margin: 0 auto;
  width: 1220px;
  height: auto;
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}
.partners_box .icon_box {
  width: 400px;
}
.partners_box .icon_box .icon_box1 {
  text-align: center;
  margin-bottom: 50px;
}
.partners_box .icon_box .icon_box2 {
  text-align: center;
  margin-bottom: 50px;
}
.partners_box .icon_box .icon_box3 {
  text-align: center;
  margin-bottom: 50px;
}
.icon_bottom_txt {
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
.icon_bottom_txt > h2 {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 18px;
}
.icon_bottom_txt > p {
  font-size: 24px;
  font-weight: bold;
  color: #8b8b8b;
  text-align: center;
}
/* 세번째 섹션 */
.sec03_wrap {
  width: 1920px;
  height: auto;
  background-color: #f2f2f2;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 72px 0;
}
.sec03_wrap .Qna {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
.sec03_wrap h2 {
  text-align: center;
  font-size: 36px;
  color: #606060;
  font-weight: 600;
  margin-bottom: 30px;
}
.qna_box {
  margin: 0 auto;
  width: 1600px;
  height: fit-content;
}
.qna_box > div {
  width: 1400px;
  box-sizing: border-box;
  padding: 30px 80px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 40px;
}
.qna_box > div > h3::before {
  content: "Q";
  font-size: 24px;
  color: #dedede;
  font-weight: bold;
  position: relative;
  top: 0;
  left: -10px;
}
.sec03_bottom_btn {
  margin: 0 auto;
  width: 50px;
  padding: 16px 50px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 50px;
  color: #606060;
}
/* 네번째 섹션 */
.sec04_wrap .partners_box {
  width: 1400px;
  display: flex;
  align-items: baseline;
}
.sec04_wrap h2 {
  font-size: 32px;
  color: #3d3d3d;
}
.sec04_wrap p {
  font-size: 18px;
  color: #777777;
  line-height: 24px;
  width: 420px;
}

/* 다섯번째 섹션 */
.sec05_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.sec05_wrap {
  width: 1600px;
  height: 370px;
  background-image: url(../img/partners/logo_background.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 75px;
}
.sec05_wrap .sec05_txt {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-right: 116px;
  text-align: center;
  box-sizing: border-box;
  padding: 140px 0;
}
.sec05_wrap div h2 {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 36px;
}
.sec05_wrap div a {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  padding: 16px 40px;
  border: 1px solid #f9f9f9;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.sec05_wrap div a:hover {
  color: #8dc075;
  background-color: #fff;
}
