/*노트북*/

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  /* 헤더 */
  nav > ul::after {
    position: absolute;
    top: 80px;
    left: -80px;
    content: "메뉴배경";
    font-size: 0;
    display: block;
    width: 41vw;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    /* border: 1px solid #f5f5f5; */
    border-top: none;
    transition: 0.3s;
    border-radius: 0px 0px 20px 20px;
  }
  /* 섹션1 */
  .sec01_wrap {
    height: 430px;
  }
  .sec01_wrap:after {
    background-position: 0 9vh;
    background-size: contain;
  }
  .sec01_wrap:after {
    background-position: 0 5vh;
    background-size: 105%;
  }
  .visual_box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 5%;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    top: 48%;
  }
  .visual_box > h2 {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .visual_box > p {
    font-size: 42px;
    color: #fff;
    font-weight: 600;
  }
  /* 섹션2 */
  .sec02 {
    width: 83%;
    height: 580px;
    overflow: hidden;
  }

  .sec02_box {
    width: 100%;
    height: 44vh;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f3f3f3;
  }

  .sec02_wrapper {
    /* width: 83%; */
    max-width: 100%;
    height: 66vh;
    margin: 0 auto;
  }
  .sec02_wrap h2 {
    margin-left: 0;
  }

  .txt_wrapper h3 {
    font-size: 28px;
    color: #383838;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 2.5rem;
    word-wrap: break-word;
  }
  .box_wrapper {
    border-radius: 20px;
  }
  /* 섹션4 */
  .recipe_photo {
    width: 83%;
    max-width: 1440px;
  }

  .recipe_photo .photo_box {
    width: calc(33.33% - 20px);
    height: 495px;
  }
  .minibox_wrapper p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1275px) and (max-width: 1439px) {
  /* 헤더 */
  nav > ul::after {
    position: absolute;
    top: 80px;
    left: -80px;
    content: "메뉴배경";
    font-size: 0;
    display: block;
    width: 42vw;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    /* border: 1px solid #f5f5f5; */
    border-top: none;
    transition: 0.3s;
    border-radius: 0px 0px 20px 20px;
  }
  /* 섹션1 */
  .sec01_wrap {
    height: 380px;
  }
  .sec01_wrap:after {
    background-position: 0px 7vh;
    background-size: 100%;
  }
  .visual_box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 5%;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    top: 48%;
  }
  .visual_box > h2 {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .visual_box > p {
    font-size: 42px;
    color: #fff;
    font-weight: 600;
  }
  /* 섹션2 */
  .sec02 {
    width: 90%;
    height: 642px;
    overflow: hidden;
  }

  .sec02_box {
    width: 100%;
    height: 520px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f3f3f3;
  }
  .sec02_wrapper {
    width: 100%;
  }
  .sec02_wrap h2 {
    margin-left: 0;
  }

  .txt_wrapper h3 {
    font-size: 28px;
    color: #383838;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 2.5rem;
    word-wrap: break-word;
  }
  .box_wrapper {
    border-radius: 20px;
  }
  /* 섹션4 */
  .recipe_photo .photo_box {
    width: calc(33.33% - 20px); /* 3단 레이아웃 */
    height: 500px;
  }
  .photo1,
  .photo2,
  .photo3,
  .photo4,
  .photo5,
  .photo6,
  .photo7,
  .photo8,
  .photo9 {
    width: 100%;
    height: 360px;
  }
  .minibox_wrapper p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1175px) and (max-width: 1274px) {
  /* 헤더 */
  nav > ul::after {
    position: absolute;
    top: 80px;
    left: -80px;
    content: "메뉴배경";
    font-size: 0;
    display: block;
    width: 43vw;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    /* border: 1px solid #f5f5f5; */
    border-top: none;
    transition: 0.3s;
    border-radius: 0px 0px 20px 20px;
  }
  /* 섹션1 */
  .sec01_wrap {
    height: 380px;
  }

  .sec01_wrap:after {
    background-position: 0px 7vh;
    background-size: 102%;
  }

  .visual_box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 5%;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    top: 48%;
  }

  .visual_box > h2 {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .visual_box > p {
    font-size: 42px;
    color: #fff;
    font-weight: 600;
  }

  /* 섹션2 */
  .sec02 {
    width: 90%;
    height: 642px;
    overflow: hidden;
  }
  .sec02_box {
    width: 100%;
    height: 520px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f3f3f3;
  }
  .sec02_wrapper {
    width: 100%;
  }
  .sec02_wrap h2 {
    margin-left: 0;
  }
  .sec02_wrapper {
    max-width: 100%;
    height: 66vh;
    margin: 0 auto;
  }

  .txt_wrapper h3 {
    font-size: 28px;
    color: #383838;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 2.5rem;
    word-wrap: break-word;
  }
  .box_wrapper {
    border-radius: 20px;
  }
  /* 섹션4 */
  .recipe_photo .photo_box {
    width: calc(50% - 20px); /* 2단 레이아웃 */
  }
  .recipe_photo .photo_box:nth-child(3n) {
    margin-right: 0px; /* 2단 레이아웃이므로 여백 조정 */
  }
  .photo1,
  .photo2,
  .photo3,
  .photo4,
  .photo5,
  .photo6,
  .photo7,
  .photo8,
  .photo9 {
    width: 100%;
    height: 320px;
  }
}
/* 노트북 medium */
@media screen and (min-width: 1025px) and (max-width: 1174px) {
  /* 헤더 */
  nav > ul {
    display: none;
  }
  .icons {
    display: flex;
    padding: 30px 0;
    column-gap: 12px;
  }
  .hidden_menu {
    display: block;
  }
  .icons a:first-child {
    display: none;
  }
  .close {
    left: -10px;
    top: 1px;
  }
  /* 섹션1 */
  .sec01_wrap {
    height: 320px;
  }

  .sec01_wrap:after {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
      url(../img/recipe/recipe_app1.png);
    background-position: 0px 5vh;
    background-size: 100%;
  }
  .visual_box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 5%;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    top: 51%;
  }
  .visual_box > h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .visual_box > p {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
  }
  /* 섹션2 */
  .sec02 {
    width: 90%;
    height: 58vh;
    overflow: hidden;
    margin-top: 100px;
  }
  .sec02 h2 {
    margin-bottom: 30px;
  }
  .sec02_box {
    width: 100%;
    height: 52vh;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f3f3f3;
  }
  .sec02_wrapper {
    width: 100%;
    max-width: 100%;
    height: 66vh;
    margin: 0 auto;
  }

  .sec02_wrap h2 {
    margin-left: 0;
  }
  .box_wrapper {
    border-radius: 20px;
  }
  .txt_wrapper h3 {
    font-size: 28px;
    color: #383838;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 32px;
    word-wrap: break-word;
  }
  .txt_wrapper h4 {
    font-size: 18px;
    color: #b7b7b7;
    font-weight: 300;
    margin-bottom: 12px;
    line-height: 21px;
  }
  .txt_wrapper {
    padding: 6vh 2vw;
  }
  /* 섹션3 */
  .sec03_wrap {
    margin-top: 80px;
    width: 100%;
    height: 500px;
    background-image: url(../img/recipe/recipe_sec2_background.png);
    position: relative;
    top: 0;
    left: 0;
  }
  .sec03_allbox {
    margin: 0 auto;
    width: 90%;
    height: 100%;
  }
  /* 섹션4 */
  .recipe_photo .photo_box {
    width: calc(50% - 20px); /* 2단 레이아웃 */
  }
  .recipe_photo .photo_box:nth-child(3n) {
    margin-right: 0px; /* 2단 레이아웃이므로 여백 조정 */
  }
}
/* 태블릿 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 헤더 */
  nav > ul {
    display: none;
  }
  .icons {
    display: flex;
    padding: 30px 0;
    column-gap: 12px;
  }
  .hidden_menu {
    display: block;
  }
  .icons a:first-child {
    display: none;
  }
  .close {
    left: -10px;
    top: 1px;
  }

  /* 섹션1 */
  .sec01_wrap {
    width: 100%;
    height: 240px;
    margin: 0 auto;
  }

  .sec01_wrap:after {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 9%)),
      url(../img/recipe/recipe_main.png);
    background-position: 0 3rem;
    background-size: 100%;
    margin: 0 auto;
  }

  .visual_box > h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 4px;
  }
  .visual_box > p {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
  }
  .visual_box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    top: 68%;
    left: 4vw;
  }
  /* 섹션2 */

  .sec02 {
    width: 90%;
    height: 71vh;
    margin-top: 80px;
  }
  .sec02_wrapper {
    max-width: 1600px;
    height: 71vh;
    margin: 0 auto;
  }

  .sec02_box {
    width: 100%;
    height: 64vh;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f3f3f3;
  }
  .box_wrapper {
    width: 100%;
    border-radius: 20px;
  }

  .txt_wrapper h3 {
    font-size: 28px;
  }
  .txt_wrapper h4 {
    font-size: 18px;
  }
  .txt_wrapper {
    padding: 1vh 1vw;
  }

  .txt_wrapper a {
    text-decoration: none;
    color: #383838;
    text-align: end;
  }
  /* 섹션4 */
  .recipe_photo .photo_box {
    width: calc(50% - 20px); /* 2단 레이아웃 */
  }
  .recipe_photo .photo_box:nth-child(3n) {
    margin-right: 0px; /* 2단 레이아웃이므로 여백 조정 */
  }
}
/* 모바일 large */
@media screen and (min-width: 625px) and (max-width: 768px) {
  /* 헤더 */
  nav > ul {
    display: none;
  }
  .icons {
    display: flex;
    padding: 30px 0;
    column-gap: 12px;
  }
  .hidden_menu {
    display: block;
  }
  .icons a:first-child {
    display: none;
  }
  .close {
    left: -10px;
    top: 1px;
  }

  .top_searchbar form {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  /* 섹션1 */
  .sec01_wrap {
    width: 100%;
    height: 240px;
    margin: 0 auto;
  }

  .sec01_wrap:after {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 9%)),
      url(../img/recipe/recipe_main.png);
    background-position: 0px 80px;
    background-size: 100%;
    margin: 0 auto;
  }
  .visual_box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    top: 68%;
    left: 4vw;
  }
  .visual_box > h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 4px;
  }
  .visual_box > p {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
  }
  /* 섹션2 */
  .sec02 {
    width: 90%;
    height: 580px;
    margin-top: 80px;
  }
  .sec02_wrapper {
    height: 65vh;
  }
  .sec02_box {
    height: 520px;

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #f3f3f3;
    transition: 0.3s;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
  }

  .sec02 h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .sec02_wrapper {
    height: 58vh;
  }

  .txt_wrapper {
    padding: 1vh 1vw;
    flex: 1;
  }

  .txt_wrapper p {
    font-size: 14px;
    display: none;
  }
  .box_wrapper {
    width: 100%;
    border-radius: 20px;
    margin: 0 auto;
  }

  .txt_wrapper h3 {
    font-size: 24px;
  }

  .txt_wrapper h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .txt_wrapper a {
    text-align: end;
  }

  /* 섹션4 */
  .recipe_photo .photo_box {
    width: calc(50% - 20px);
    height: 490px;
  }
}
.recipe_photo .photo_box:nth-child(3n) {
  margin-right: 0px; /* 2단 레이아웃이므로 여백 조정 */
}

.photo1,
.photo2,
.photo3,
.photo4,
.photo5,
.photo6,
.photo7,
.photo8,
.photo9 {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 17px;
  border-radius: 20px;
  background-repeat: no-repeat;
}
.mini_box {
  padding: 11px;
}
.minibox_wrapper p {
  background-color: #dddddd;
  color: #000;
  font-size: 12px;
  height: 36px;
}
.minibox_wrapper span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #000;
  margin: -2px 8px;
}

@media screen and (min-width: 481px) and (max-width: 624px) {
  /* 헤더 */
  nav > ul {
    display: none;
  }
  .icons {
    display: flex;
    padding: 30px 0;
    column-gap: 12px;
  }
  .hidden_menu {
    display: block;
  }
  .icons a:first-child {
    display: none;
  }
  .close {
    left: -10px;
    top: 1px;
  }
  section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .top_searchbar form {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  /* 섹션1 */
  .sec01_wrap {
    width: 100%;
    height: 240px;
    margin-bottom: 0;
  }
  .sec01_wrap:after {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 9%)),
      url(../img/recipe/recipe_app1.png);
    background-position: center 6vh;
    background-size: inherit;
  }

  .visual_box {
    padding: 0 4%;
    top: 79%;
    left: 2vw;
  }
  .visual_box > h2 {
    display: none;
  }

  .visual_box > p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
  }
  .visual_box > p::after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #fff;
    margin-top: 8px;
  }
  /* 섹션2 */

  .sec02 {
    width: 90%;
    height: 580px;
    margin-top: 80px;
  }

  .sec02_wrapper {
    height: 65vh;
    max-width: 100%;
  }

  .sec02_box {
    height: 520px;

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #f3f3f3;
    transition: 0.3s;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
  }

  .sec02 h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .sec02_wrapper {
    height: 58vh;
  }

  .txt_wrapper {
    padding: 1vh 1vw;
    flex: 1;
  }

  .txt_wrapper p {
    font-size: 14px;
    display: none;
  }
  .box_wrapper {
    width: 100%;
    border-radius: 20px;
    margin: 0 auto;
  }

  .txt_wrapper h3 {
    font-size: 24px;
  }

  .txt_wrapper h4 {
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 20px;
  }
  .txt_wrapper a {
    text-align: end;
  }

  /* 섹션3 */
  .sec03_wrap {
    margin-top: 80px;
    width: 100%;
    height: 535px;
    background-image: url(../img/recipe/recipe_sec2_background.png);
    position: relative;
    top: 0;
    left: 0;
  }
  .sec03_photo_1 {
    width: 100%;
    height: 28vh;
    border-radius: 20px;
  }
  .sec03_wrap > h3 {
    width: 90%;
    box-sizing: border-box;
    /* padding: 0 160px; */
    font-size: 24px;
    color: #5f5f5f;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 14px;
  }
  /* 섹션4 */

  .recipe_photo .photo_box {
    width: calc(50% - 20px);
    height: 270px;
  }
  .recipe_photo .photo_box:nth-child(3n) {
    margin-right: 0px; /* 2단 레이아웃이므로 여백 조정 */
  }
  .photo_box .photo1,
  .photo_box .photo2,
  .photo_box .photo3,
  .photo_box .photo4,
  .photo_box .photo5,
  .photo_box .photo6,
  .photo_box .photo7,
  .photo_box .photo8,
  .photo_box .photo9 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 17px;
    border-radius: 20px;
    background-repeat: no-repeat;
  }

  .top_title .recipe_menu {
    display: flex;
    column-gap: 30px;
    margin-bottom: 18px;
    justify-content: space-between;
  }
  .top_title .recipe_menu a {
    font-size: 13px;
    font-weight: 500;
    color: #a5a4a4;
    transition: 0.3s;
  }
  .top_title h2 {
    font-size: 24px;
    color: #5f5f5f;
    margin-bottom: 14px;
    font-weight: bold;
  }
  .top_title {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .change_box {
    width: 90%;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 14px;
    text-align: end;
    font-size: 13px;
  }
  .recipe_photo {
    width: 90%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo_box h3 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
    transition: 0.2s;
  }
  .photo_box > p {
    font-size: 16px;
    color: #818181;
    font-weight: 300;
    transition: 0.2s;
    line-height: 18px;
  }
  .photo_box_txt .minibox_wrapper {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /* 헤더 */
  nav > ul {
    display: none;
  }
  .icons {
    display: flex;
    padding: 30px 0;
    column-gap: 12px;
  }
  .hidden_menu {
    display: block;
  }
  .icons a:first-child {
    display: none;
  }
  .close {
    left: -10px;
    top: 1px;
  }

  section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .top_searchbar form {
    width: 87%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  /* 섹션1 */
  .sec01_wrap {
    width: 100%;
    height: 240px;
    margin-bottom: 0;
  }

  .sec01_wrap:after {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 9%)),
      url(../img/recipe/recipe_app1.png);
    background-position: -90px 153%;
    background-size: inherit;
  }

  .visual_box {
    padding: 0 4%;
    top: 79%;
    left: 2vw;
  }
  .visual_box > h2 {
    display: none;
  }

  .visual_box > p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
  }
  .visual_box > p::after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #fff;
    margin-top: 8px;
  }
  /* 섹션2 */

  .sec02 {
    width: 90%;
    height: 580px;
    margin-top: 80px;
    min-width: 400px;
  }
  .sec02 h2 {
    font-size: 28px;
    width: 100%;
    color: #475049;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
    word-wrap: break-word;
  }
  .sec02_wrapper {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
  .sec02_box {
    box-sizing: border-box;
    width: 100%;
    height: 520px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #f3f3f3;
    transition: 0.3s;
    flex-direction: column;
    padding: 10px;
  }
  .sec02 h2 {
    font-size: 28px;
  }

  .sec02_wrapper {
    height: 58vh;
  }

  .txt_wrapper p {
    display: none;
  }

  .box_wrapper {
    margin: 0 auto;
    width: 100%;
    height: 360px;
    flex: 2;
    border-radius: 20px;
  }

  .txt_wrapper {
    font-size: 20px;
    color: #383838;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 22px;
    word-wrap: break-word;
    padding: 5px 1vw;
    flex: 1;
  }
  .txt_wrapper h3 {
    font-size: 21px;
    color: #383838;
    font-weight: bold;
    margin-bottom: 18px;
    line-height: 2.5rem;
    word-wrap: break-word;
  }
  .txt_wrapper h4 {
    font-size: 16px;
    line-height: 18px;
  }
  .txt_wrapper a {
    text-decoration: none;
    color: #383838;
    text-align: center;
  }
  .sec02 button {
    box-sizing: border-box;
    padding: 10px 2vw;
    width: 180px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #9d9d9d;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: #696969;
    transition: 0.3s;
  }
  /* 섹션4 */

  .recipe_photo .photo_box {
    width: calc(50% - 20px);
    height: 270px;
  }
  .recipe_photo .photo_box:nth-child(3n) {
    margin-right: 0px; /* 2단 레이아웃이므로 여백 조정 */
  }
  .photo_box .photo1,
  .photo_box .photo2,
  .photo_box .photo3,
  .photo_box .photo4,
  .photo_box .photo5,
  .photo_box .photo6,
  .photo_box .photo7,
  .photo_box .photo8,
  .photo_box .photo9 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 17px;
    border-radius: 20px;
    background-repeat: no-repeat;
  }

  .top_title .recipe_menu {
    display: flex;
    column-gap: 30px;
    margin-bottom: 18px;
    justify-content: space-between;
  }
  .top_title .recipe_menu a {
    font-size: 13px;
    font-weight: 500;
    color: #a5a4a4;
    transition: 0.3s;
  }
  .top_title h2 {
    font-size: 24px;
    color: #5f5f5f;
    margin-bottom: 14px;
    font-weight: bold;
  }
  .top_title {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .change_box {
    width: 90%;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 14px;
    text-align: end;
    font-size: 13px;
  }
  .recipe_photo {
    width: 90%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo_box h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
    transition: 0.2s;
  }
  .photo_box > p {
    font-size: 15px;
    color: #818181;
    font-weight: 300;
    transition: 0.2s;
    line-height: 18px;
  }
  .photo_box_txt .minibox_wrapper {
    display: none;
  }
}
