@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #383838;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  border-radius: 20px;
}
.page_wrap {
  width: 100%;
}

header {
  width: 100%;
  height: auto;
  /* border-bottom: 1px solid #eeeeee; */
  position: fixed;
  z-index: 999;
}
.headerwrap {
  width: 100%;
  height: 80px;

  background-color: #fff;
  transition: 0.3s;
}
.headerwrap:hover {
  background-color: #fff;
}
.header_wrapper {
  width: 84%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
h1 {
  width: 140px;
  height: 20px;
  padding: 30px 0;
}
nav {
  width: 36%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  width: 100%;
  height: auto;
  position: relative;
}
nav > ul::after {
  position: absolute;
  top: 80px;
  left: -80px;
  content: "메뉴배경";
  font-size: 0;
  display: block;
  width: 40vw;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  /* border: 1px solid #f5f5f5; */

  border-top: none;
  transition: 0.3s;
  border-radius: 0px 0px 20px 20px;
}
.hidden_menu {
  padding: 28px 0;
  display: none;
}

nav > ul:hover::after {
  height: 240px;
}
.submenu:not(:hover) > li > a {
  color: #797979;
}
.icons {
  display: flex;
  padding: 30px 0;
  column-gap: 20px;
}

.login {
  width: 21px;
  height: 21px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -2211px -499px;
}
.login:hover {
  background-repeat: no-repeat;
  background-image: url(../img/icon/login_green.png);
  background-position: 1px 0px;
  background-size: 90%;
}
.search {
  width: 20px;
  height: 20px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -1293px -628px;
}
.close {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/close.png);
  background-repeat: no-repeat;
  position: relative;
  left: -20px;
  top: 1px;
  display: none;
}
.hidden_menu {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/menu.png);
  background-repeat: no-repeat;
  position: relative;
  display: none;
  top: -2px;
}

.search:hover {
  background-image: url(../img/icon/search_green.png);

  background-position: 1px 20px;
  background-size: 102%;
}

/*2차메뉴*/
nav > ul > li {
  position: relative;
  top: 0;
  left: 0;
}
.submenu {
  width: 156%;
  height: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 80px;
  left: -18px;
  line-height: 32px;
  transition: 0.5s;
  column-gap: 70px;
  color: #575757;
  text-align: center;
  z-index: 55;
  transition: 0.3s;
}
.submenu li {
  padding-top: 20px;
}
nav > ul:hover .submenu {
  height: 210px;
}
nav > ul > li:hover > a {
  color: #237b22;
}
.submenu > li:hover > a {
  color: #237b22;
}
/* 메뉴 애니메이션 */
nav > ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(1):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 72px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 56px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(3):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 56px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(4):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 56px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav ul li:nth-child(1):hover::after {
  width: 72px;
  transform: scaleX(1);
}
nav ul li:nth-child(2):hover::after {
  width: 56px;
  transform: scaleX(1);
}
nav ul li:nth-child(3):hover::after {
  width: 56px;
  transform: scaleX(1);
}
nav ul li:nth-child(4):hover::after {
  width: 56px;
  transform: scaleX(1);
}

/* 검색창 */
.top_searchbar {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 50px 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  opacity: 0;
}
.top_searchbar form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.input_box {
  width: 630px;
}
.input_box input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #464646;
  color: #464646;
  height: 50px;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  outline: none;
}
.search_btn {
  box-sizing: border-box;
  padding: 16px 0;
}

section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
}
/* 섹션1 */
.sec01_wrap {
  width: 100%;
  height: 478px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
}
.sec01_wrap:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(../img/recipe/recipe_main.png);
  background-repeat: no-repeat;
  background-position: 0 5vh;
  background-size: 105%;
}
.visual_box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 5%;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 100;
  top: 48%;
}
.visual_box > h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
}
.visual_box > p {
  font-size: 42px;
  color: #fff;
  font-weight: 600;
}
/* 섹션2 */
.sec02 {
  width: 100%;
  height: 696px;
  overflow: hidden;
  margin: 0 auto;
}
.sec02_wrapper {
  /* width: 83%; */
  max-width: 83%;
  height: 66vh;
  margin: 0 auto;
}
.sec02_box {
  width: 100%;
  height: 54vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #f3f3f3;
  transition: 0.3s;
  box-sizing: border-box;
  padding: 10px;
}
.sec02 h2 {
  width: 100%;
  color: #475049;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  word-wrap: break-word;
}

.box_wrapper {
  width: 83%;
  /* height: 100%; */
  min-height: 200px;
  overflow: hidden;
  background-image: url(../img/recipe/best_recipe.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  flex: 2;
  transition: 0.3s;
}
.sec02_box:hover .box_wrapper {
  background-size: 101%;
  background-size: cover;
}
.txt_wrapper {
  flex: 1;
  box-sizing: border-box;
  padding: 6vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.txt_wrapper h3 {
  font-size: 2rem;
  color: #383838;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 2.5rem;
  word-wrap: break-word;
}
.txt_wrapper h4 {
  font-size: 18px;
  color: #b7b7b7;
  font-weight: 300;
  margin-bottom: 10px;
}
.txt_wrapper p {
  font-size: 24px;
  color: #7a857c;
  font-weight: 400;
  margin-bottom: 20px;
}
.txt_wrapper p::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -2131px -499px;
  background-image: 100%;
  position: relative;
  top: 2px;
}
.sec02 button {
  box-sizing: border-box;
  padding: 10px 2vw;
  width: 180px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #9d9d9d;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: #696969;
  transition: 0.3s;
}
.sec02 button:hover {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
}
/* 섹션3 */
.sec03_wrap {
  margin-top: 80px;
  width: 100%;
  height: 620px;
  background-image: url(../img/recipe/recipe_sec2_background.png);
  position: relative;
  top: 0;
  left: 0;
}
.sec03_wrap > h3 {
  width: 83%;
  box-sizing: border-box;
  /* padding: 0 160px; */
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 42px;
}
.sec03_allbox {
  margin: 0 auto;
  width: 83%;
  height: 100%;
}
.sec03_photo {
  height: 500px;
  width: calc(33.3% - 20px);
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 calc(33.3% - 20px);
}

.sec03_photo_1 {
  width: 100%;
  height: 354px;

  border-radius: 20px;
}
.sec03_photo_01 {
  width: 100%;
  height: 100%;
  background-image: url(../img/recipe/best_recipe01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
  border-radius: 20px;
}
.sec03_photo_02 {
  width: 100%;
  height: 100%;
  background-image: url(../img/recipe/best_recipe02.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: 0.2s;
  border-radius: 20px;
}
.sec03_photo_03 {
  width: 100%;
  height: 100%;
  background-image: url(../img/recipe/best_recipe03.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
  border-radius: 20px;
}

.sec03_phototxt {
  width: 100%;
  height: fit-content;
  padding: 20px 0 0;
}

.sec03_photo h3 {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  transition: 0.2s;
}
.sec03_phototxt > p {
  font-size: 18px;
  font-weight: 300;
  color: #525252;
  transition: 0.2s;
  margin-top: 12px;
}
.mini_box {
  width: 180px;
  height: 36px;
  background-color: #cdcdcd;
  border-radius: 20px;
  margin-top: 18px;
  text-align: center;
  box-sizing: border-box;
  padding: 9px;
}

.left_grey1 {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.right_grey1 {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.left_grey1 {
  left: 10px; /* 왼쪽 화살표 위치 */
}

.right_grey1 {
  right: 10px; /* 오른쪽 화살표 위치 */
}
/* 섹션4 */
.sec04_wrap {
  width: 100%;
  height: auto;
}
.top_title {
  width: 83%;
  height: fit-content;
  margin: 0 auto;
}
.top_title h2 {
  font-size: 32px;
  color: #5f5f5f;
  margin-bottom: 32px;
  font-weight: bold;
}

.top_title .recipe_menu {
  display: flex;
  column-gap: 46px;
  margin-bottom: 18px;
}
.top_title .recipe_menu a {
  font-size: 16px;
  font-weight: 500;
  color: #a5a4a4;
  transition: 0.3s;
}

.top_title .recipe_menu a:hover {
  color: #237b22;
  font-size: 16px;
  font-weight: 700;
}

.change_box {
  width: 83%;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: end;
}
.change_box a {
  margin-left: 20px;
  color: #d9d9d9;
  transition: 0.3s;
}
.change_box a:hover {
  color: #237b22;
  font-weight: 500;
}
.change_box a:nth-child(1):after,
.change_box a:nth-child(2):after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 20px;
  background-color: #d9d9d9;
  position: relative;
  top: -4px;
  left: 10px;
}
.recipe_menu .all {
  color: #000;
}

.recipe_photo {
  width: 83%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipe_photo a {
  width: 100%;
}
.recipe_photo .photo_box {
  width: calc(33.33% - 20px);
  height: 500px;
  margin-bottom: 60px;
}

.recipe_photo .photo_box:nth-child(3n) {
  margin-right: 0; /* 3의 배수마다 오른쪽 여백 제거 */
}

.photo_box .photo1,
.photo_box .photo2,
.photo_box .photo3,
.photo_box .photo4,
.photo_box .photo5,
.photo_box .photo6,
.photo_box .photo7,
.photo_box .photo8,
.photo_box .photo9 {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-position: center;
  margin-bottom: 17px;
  border-radius: 20px;
  background-repeat: no-repeat;
}

.photo1 {
  background-image: url(../img/recipe/recipe1.png);
  transition: 0.2s;
}
.photo2 {
  background-image: url(../img/recipe/best_recipe.jpg);
  transition: 0.2s;
}
.photo3 {
  background-image: url(../img/recipe/recipe3.jpg);
  transition: 0.2s;
}

.photo4 {
  background-image: url(../img/recipe/recipe4.PNG);
  transition: 0.2s;
}
.photo5 {
  background-image: url(../img/recipe/recipe5.jpeg);
  transition: 0.2s;
}

.photo6 {
  background-image: url(../img/recipe/recipe6.jpg);
  transition: 0.2s;
}

.photo7 {
  background-image: url(../img/recipe/recipe7.jpg);
  transition: 0.2s;
}

.photo8 {
  background-image: url(../img/recipe/recipe8.png);
  transition: 0.2s;
}
.photo9 {
  background-image: url(../img/recipe/recipe9.jpeg);
  transition: 0.2s;
}
.photo_box p {
  font-size: 18px;
  color: #818181;
  font-weight: 300;
  transition: 0.2s;
}
.photo_box h3 {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 12px;
  transition: 0.2s;
}
.photo_box_txt {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
}
.photo_box_txt h3 {
  width: 100%;
  height: 12%;
}
.photo_box_txt p {
  width: 100%;
  height: 15%;
}

.minibox_wrapper {
  width: 100%;
  height: 40%;
  display: flex;
  gap: 20px;
}
.minibox_wrapper > p {
  background-color: #dddddd;
  color: #000;
  font-size: 16px;
  height: 36px;
}

.minibox_wrapper span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #000;
  margin: -2px 8px;
}

.recipe_number {
  width: 300px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.recipe_number a {
  font-size: 16px;
  margin-left: 25px;
  color: #a4a4a4;
  display: block;
  transition: 0.3s;
}
.recipe_number a:first-child {
  position: relative;
  top: 2px;
}
.recipe_number a:last-child {
  position: relative;
  top: 2px;
}
.left_black {
  position: relative;
  top: -16px;
  display: none;
}
.right_black {
  position: relative;
  top: -16px;
  display: none;
}
.recipe_number a:hover {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

/* footer */
footer {
  width: 83%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 48px;
}
footer img {
  margin-bottom: 32px;
}
footer p {
  font-size: 16px;
  color: #b6b6b6;
  margin-bottom: 32px;
  line-height: 24px;
}
.bottom_txt {
  display: flex;
  justify-content: space-between;
}
.txt_h4 {
  display: flex;
  column-gap: 20px;
}
.bottom_txt h4 {
  color: #797979;
  font-size: 16px;
}
