@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #383838;
}
.page_wrap {
  width: 100%;
}
header {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eeeeee;

  position: fixed;
  z-index: 999;
}
.headerwrap {
  width: 100%;
  height: 80px;

  background-color: transparent;
  transition: 0.3s;
}
.headerwrap:hover {
  background-color: #fff;
}
.header_wrapper {
  width: 84%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
h1 {
  width: 140px;
  height: 20px;
  padding: 30px 0;
}
nav {
  width: 36%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  width: 100%;
  height: auto;
  position: relative;
}
nav > ul::after {
  position: absolute;
  top: 80px;
  left: -80px;
  content: "메뉴배경";
  font-size: 0;
  display: block;
  width: 125%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;

  border-top: none;
  transition: 0.3s;
  border-radius: 0px 0px 20px 20px;
}

nav > ul:hover::after {
  height: 240px;
}
.submenu:not(:hover) > li > a {
  color: #797979;
}
.icons {
  display: flex;
  padding: 30px 0;
  column-gap: 20px;
}

.login {
  width: 20px;
  height: 20px;
  background-image: url(../img/sprite.png);
  background-position: -672px -538px;
}
.search {
  width: 20px;
  height: 20px;
  background-image: url(../img/sprite.png);
  background-position: -632px -538px;
}

/*2차메뉴*/
nav > ul > li {
  position: relative;
  top: 0;
  left: 0;
}
.submenu {
  width: 156%;
  height: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 80px;
  left: -18px;
  line-height: 32px;
  transition: 0.5s;
  column-gap: 70px;
  color: #575757;
  text-align: center;
  z-index: 55;
  transition: 0.3s;
}
.submenu li {
  padding-top: 20px;
}
nav > ul:hover .submenu {
  height: 210px;
}
nav > ul > li:hover > a {
  color: #88b14b;
}
.submenu > li:hover > a {
  color: #88b14b;
}
/* 메뉴 애니메이션 */
nav > ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(3):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(4):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav ul li:nth-child(1):hover::after {
  width: 78px;
  transform: scaleX(1);
}
nav ul li:nth-child(2):hover::after {
  width: 63px;
  transform: scaleX(1);
}
nav ul li:nth-child(3):hover::after {
  width: 63px;
  transform: scaleX(1);
}
nav ul li:nth-child(4):hover::after {
  width: 45px;
  transform: scaleX(1);
}
section {
  margin-bottom: 126px;
  width: 100%;
}
/* 섹션1 */
.sec01_wrap {
  width: 100%;
  height: 478px;
  background-image: url(../img/recipe/recipe_main.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}
.visual_box {
  width: 100%;
  height: 100%;
  padding: 250px 120px;
}

.visual_box > h2 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}
.visual_box > p {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
/* 섹션2 */
.sec02_wrap {
  width: 100%;
  height: auto;
  margin-top: 126px;
}
.menu_box {
  width: 1600px;
  height: fit-content;

  display: flex;
  margin: 0 auto;
  column-gap: 20px;
}
.popular_recipe {
  flex: 2 1 0;
  /* width: 725px; */
  height: 500px;
  background-color: #eeeeee;
  border-radius: 20px;
  background-image: url(../img/recipe/best_recipe.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -1px;
}
.popular_recipe .box_line {
  width: 95%;
  height: 463px;
  border: 2px solid #fff;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  top: -110px;
}
.popular_recipe h2 {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  padding: 48px;
}
.lately_recipe {
  flex: 1 1 0;

  height: 500px;
  background-color: #ffedd0;
  margin: 0 auto;
  border-radius: 20px;
}
.lately_recipe .recipe_photo {
  width: 250px;
  height: 250px;
  margin: 5px auto;
  border-radius: 150px;
  background-image: url(../img/recipe/lately_food.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.lately_recipe h2 {
  font-size: 32px;
  color: #525252;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  padding: 48px;
}
.lately_recipe a {
  display: block;
  margin: 0 auto;
  width: 157px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 60px;
  color: #525252;
  text-align: center;
  line-height: 48px;
  margin-top: 32px;
}

.lately_info {
  flex: 1 1 0;
  height: 500px;
  background-color: #c7dbee;
  margin: 0 auto;
  border-radius: 20px;
}
.lately_info .recipe_photo {
  width: 250px;
  height: 250px;
  margin: 5px auto;
  border-radius: 150px;
  background-image: url(../img/recipe/info.jpg);
  background-repeat: no-repeat;

  background-size: 152%;
  background-position: -94px 2px;
}
.lately_info h2 {
  font-size: 32px;
  color: #525252;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  padding: 48px;
}
.lately_info a {
  display: block;
  margin: 0 auto;
  width: 157px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 60px;
  color: #525252;
  text-align: center;
  line-height: 48px;
  margin-top: 32px;
}
/* 섹션3 */
.sec03_wrap {
  width: 100%;
  height: 1752px;
}
.top_title {
  width: 1600px;
  height: fit-content;
  margin: 0 auto;
}
.top_title h2 {
  font-size: 36px;
  color: #5f5f5f;
  margin-bottom: 36px;
  font-weight: bold;
}
.top_title .recipe_menu {
  display: flex;
  column-gap: 92px;
  margin-bottom: 127px;
}
.top_title .recipe_menu a {
  font-size: 16px;
  color: #a5a4a4;
  transition: 0.3s;
}
.top_title .recipe_menu a:hover {
  color: #237b22;
  font-size: 16px;
  font-weight: 500;
}
.recipe_photo {
  width: 1600px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.recipe_photo .photo_box {
  width: 480px;
  height: 430px;
  margin-bottom: 76px;
}
.photo1 {
  width: 480px;
  height: 360px;
  background-image: url(../img/recipe/recipe1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -37px;
  border-radius: 20px;
  margin-bottom: 17px;
}
.photo_box p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 12px;
}
.photo_box h3 {
  font-size: 24px;
  color: #000000;
}
.photo2 {
  width: 480px;
  height: 360px;
  background-image: url(../img/recipe/best_recipe.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -84px;
  border-radius: 20px;
  margin-bottom: 17px;
}
.photo3 {
  width: 480px;
  height: 360px;
  background-image: url(../img/recipe/recipe3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -84px;
  border-radius: 20px;
  margin-bottom: 17px;
}
.photo4 {
  width: 480px;
  height: 360px;
  background-image: url(../img/recipe/recipe4.PNG);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: -22px 0px;
  border-radius: 20px;
  margin-bottom: 17px;
}
.photo5 {
  width: 480px;
  height: 360px;
  background-image: url(../img/recipe/recipe5.jpeg);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: -20px -2px;
  border-radius: 20px;
  margin-bottom: 17px;
}
.photo6 {
  width: 480px;
  height: 360px;
  background-image: url(../img/recipe/recipe6.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -242px;
  border-radius: 20px;
  margin-bottom: 17px;
}
.photo7 {
  width: 480px;
  height: 360px;
  background-image: url(../img/recipe/recipe7.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -84px;
  border-radius: 20px;
  margin-bottom: 17px;
}
.photo8 {
  width: 480px;
  height: 360px;
  background-image: url(../img/recipe/recipe8.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -84px;
  border-radius: 20px;
  margin-bottom: 17px;
}
.photo9 {
  width: 480px;
  height: 360px;
  background-image: url(../img/recipe/recipe9.jpeg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: -18px 1px;
  border-radius: 20px;
  margin-bottom: 17px;
}
.recipe_number {
  width: 1600px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}
.recipe_number a {
  font-size: 16px;
  margin-left: 25px;
  color: #a4a4a4;
  display: inline-block;
  transition: 0.3s;
}
.recipe_number a:first-child {
  width: 8px;
  height: 16px;
  position: relative;
  top: 2px;
  background-image: url(../img/icon/sprite.png);
  background-position: -2277px 1px;
  background-repeat: no-repeat;
}
.recipe_number a:last-child {
  width: 8px;
  height: 16px;
  position: relative;
  top: 2px;
  background-image: url(../img/icon/sprite.png);
  background-position: -2285px 1px;
  background-repeat: no-repeat;
}
.recipe_number a:hover {
  color: #237b22;
  font-size: 17px;
  font-weight: 500;
}
/* 네번째 섹션 */
.sec04_wrap {
  width: 1920px;
  height: 340px;
  margin-bottom: 0;
}
.sec04_wrapper {
  width: 100%;
  height: 100%;
  background-image: url(../img/recipe/info_background.png);
  background-repeat: no-repeat;
}

.sec04_wrapper h2 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box;
  padding: 152px 300px;
  text-align: end;
}

.sec04_wrapper h2::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 28px;
  background-image: url(../img/icon/right_white.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  left: 10px;
}
/* footer */
footer {
  width: 1600px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 48px;
}
footer img {
  margin-bottom: 32px;
}
footer p {
  font-size: 16px;
  color: #b6b6b6;
  margin-bottom: 32px;
  line-height: 24px;
}
.bottom_txt {
  display: flex;
  justify-content: space-between;
}
.txt_h4 {
  display: flex;
  column-gap: 20px;
}
.bottom_txt h4 {
  color: #797979;
  font-size: 16px;
}
