/*노트북*/

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  /* 섹션1 */
  .sec01_wrap h2 {
    font-size: 3.5rem;
    color: #252525;
    font-weight: bold;
    margin-bottom: 2.5vh;
    line-height: 3.5vw;
  }
  .sec01_wrap b {
    font-size: 2.5rem;
    color: #252525;
    font-weight: 500;
    margin-bottom: 2.8vh;
    line-height: 3vw;
  }
  .txt_sec01 {
    width: 70%;
    box-sizing: border-box;
    padding: 25vh 10vw;
  }
  /* 섹션 2 */
  .txt_box h3 {
    font-size: 20px;
  }

  .txt_box p {
    font-size: 22px;
  }
  /* 섹션4 */
  .sec04 {
    width: 90%;
  }
  /* 섹션 6 */
  .sec06_wrapper {
    background-position: 12%;
  }
  /* 섹션7 */
  .sec07::before {
    content: "";
    background-image: url(../img/icon/logo.png);
    background-position: center 2vw;
  }
}

@media screen and (min-width: 1175px) and (max-width: 1439px) {
  /* 헤더 */
  nav > ul {
    display: none;
  }
  .icons {
    display: flex;
    padding: 30px 0;
    column-gap: 12px;
  }
  .hidden_menu {
    display: block;
  }
  .icons a:first-child {
    display: none;
  }
  .close {
    left: -10px;
    top: 1px;
  }

  /* 섹션1 */
  .sec01_wrap h2 {
    font-size: 2.9rem;
    color: #252525;
    font-weight: bold;
    margin-bottom: 2.5vh;
    line-height: 4vw;
  }
  .sec01_wrap b {
    font-size: 2.3rem;
    color: #252525;
    font-weight: 500;
    margin-bottom: 2.8vh;
    line-height: 3vw;
  }
  .txt_sec01 {
    width: 70%;
    box-sizing: border-box;
    padding: 25vh 6vw;
  }
  /* 섹션 2 */
  .txt_box h3 {
    font-size: 20px;
  }

  .txt_box p {
    font-size: 22px;
  }

  /* 섹션3 */
  .sec03_wrap .txt_wrap1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
  }
  /* 섹션4 */
  .sec04 {
    width: 90%;
  }
  .txt_wrapper h3 {
    font-size: 1.7rem;
  }
  /* 섹션 6 */
  .sec06_wrapper::before {
    background-position: 12% center;
  }
  /* 섹션7 */
  .sec07::before {
    content: "";
    background-image: url(../img/icon/logo.png);
    background-position: center 5vw;
  }
  .sec07_text {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 14vw 10vh;
  }
  /* 푸터 */
  .bottom_txt {
    display: block;
    margin-bottom: 10px;
  }
}
/* 노트북 medium */
@media screen and (min-width: 1025px) and (max-width: 1174px) {
  /* 헤더 */
  nav > ul {
    display: none;
  }
  .icons {
    display: flex;
    padding: 30px 0;
    column-gap: 12px;
  }
  .hidden_menu {
    display: block;
  }
  .icons a:first-child {
    display: none;
  }
  .close {
    left: -10px;
    top: 1px;
  }
  /* 섹션1 */
  .sec01_wrap h2 {
    font-size: 2.7rem;
    color: #252525;
    font-weight: bold;
    margin-bottom: 2.5vh;
    line-height: 4.2vw;
  }
  .sec01_wrap b {
    font-size: 2rem;
    color: #252525;
    font-weight: 500;
    margin-bottom: 2.8vh;
    line-height: 3vw;
  }
  .txt_sec01 {
    width: 70%;
    box-sizing: border-box;
    padding: 25vh 7vw;
  }
  .sec01_wrap p {
    line-height: 1.8vw;
  }
  /* 섹션 2 */
  .txt_box h3 {
    font-size: 20px;
  }

  .txt_box p {
    font-size: 22px;
  }
  /* 섹션3 */
  .sec03_wrap .txt_wrap1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
  }
  /* 섹션4 */
  .sec04 {
    width: 90%;
  }
  .txt_wrapper h3 {
    font-size: 1.7rem;
  }
  /* 섹션6 */
  .sec06_wrapper::before {
    background-position: 12% center;
  }
  /* 섹션7 */
  .sec07::before {
    content: "";
    background-image: url(../img/icon/logo.png);
    background-position: center 6vw;
  }
  .sec07_text {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 16vw 10vh;
  }
  /* 푸터 */
  .bottom_txt {
    display: block;
    margin-bottom: 10px;
  }
}
/* 태블릿 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 헤더 */
  nav > ul {
    display: none;
  }
  .icons {
    display: flex;
    padding: 30px 0;
    column-gap: 12px;
  }
  .hidden_menu {
    display: block;
  }
  .icons a:first-child {
    display: none;
  }
  .close {
    left: -10px;
    top: 1px;
  }

  /* 섹션1 */
  .sec01 {
    background-position: 90% center;
  }

  .sec01_wrap h2 {
    font-size: 2.5rem;
    color: #252525;
    font-weight: bold;
    margin-bottom: 2vh;
    line-height: 4.2vw;
  }
  .sec01_wrap b {
    font-size: 1.8rem;
    color: #252525;
    font-weight: 500;
    margin-bottom: 2.8vh;
    line-height: 4.5vw;
  }

  .txt_sec01 {
    width: 70%;
    box-sizing: border-box;
    padding: 28vh 5vw;
  }
  .sec01_wrap p {
    display: none;
  }

  /* 두번째 섹션 */
  .best1.photo3 {
    display: none;
  }
  .txt_box h3 {
    font-size: 20px;
  }

  .txt_box p {
    font-size: 22px;
  }
  .bottom_box {
    width: 90%;
  }

  /* 섹션3 */
  .sec03_wrap .txt_wrap1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
  }
  .sec03_wrap p {
    font-size: 0.8rem;
  }
  /* 섹션4 */
  .sec04 {
    width: 90%;
    padding: 10px;
  }
  .box_wrapper {
    flex: 2;
  }

  .txt_wrapper {
    flex: 1;
    box-sizing: border-box;
    padding: 6vh 3vw;
  }
  .txt_wrapper h3 {
    font-size: 1.5rem;
  }
  .txt_wrapper h4 {
    font-size: 18px;
  }
  /* 여섯번째 섹션 */

  .sec06_wrapper::before {
    background-position: 12% center;
  }

  /* 섹션7 */
  .sec07::before {
    content: "";
    background-image: url(../img/icon/logo.png);
    background-position: center 8vw;
  }
  .sec07_text {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 18vw 10vh;
  }
  /* 푸터 */
  .bottom_txt {
    display: block;
    margin-bottom: 10px;
  }
}
/* 모바일 large */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 헤더 */
  nav > ul {
    display: none;
  }
  .icons {
    display: flex;
    padding: 30px 0;
    column-gap: 12px;
  }
  .hidden_menu {
    display: block;
  }
  .icons a:first-child {
    display: none;
  }
  .close {
    left: -10px;
    top: 1px;
  }

  /* 섹션1 */
  .sec01 {
    /* max-width: 99%; */
    height: 70vh;
    background-image: url(../img/main/main.png);
    background-size: cover;
    background-position: 80% 0;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .txt_sec01 {
    width: 100%;
    box-sizing: border-box;
    padding: 12vh 3vw;
  }

  .sec01_wrap h2 {
    font-size: 3.2rem;
    color: #252525;
    font-weight: bold;
    margin-bottom: 2.5vh;
    line-height: 8vw;
  }
  .sec01_wrap b {
    font-size: 1.2rem;
    color: #5a5a5a;
    font-weight: 600;
    margin-bottom: 2.5vh;
    line-height: 4.5vw;
  }
  .sec01_wrap p {
    display: none;
  }
  /* 두번째 섹션 */
  .best1.photo3 {
    display: none;
  }
  .txt_box h3 {
    font-size: 18px;
  }

  .txt_box p {
    font-size: 20px;
  }
  .bottom_box {
    width: 90%;
  }

  /* 섹션3 */
  .sec03_wrap .txt_wrap1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
  }
  .sec03_wrap p {
    font-size: 0.8rem;
    width: 100%;
  }

  .sec04 {
    padding: 10px;
  }
  .sec04 h2 {
    font-size: 28px;
  }
  .sec04_box {
    flex-direction: column;
  }
  .sec04_wrapper {
    height: 58vh;
  }

  .box_wrapper {
    border-radius: 20px 20px 0 0;
    flex: 2;
  }
  .txt_wrapper {
    padding: 1vh 1vw;
    flex: 1;
  }
  .txt_wrapper h3 {
    font-size: 1.58rem;
  }

  .txt_wrapper h4 {
    font-size: 16px;
  }
  .txt_wrapper p {
    font-size: 14px;
  }
  /* 섹션6 */
  .sec06_wrapper::before {
    content: "";
    background-image: url(../img/main/mall01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 12%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    transition: 0.3s;
    background-color: #fff;
  }
  /* 섹션7 */
  .sec07::before {
    content: "";
    background-image: url(../img/icon/logo.png);
    background-position: center 10vw;
  }
  .sec07_text {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 24vw 10vh;
  }
  .sec07_text h2 {
    font-size: 2.5rem;
  }
  /* 푸터 */
  .bottom_txt {
    display: block;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 624px) {
  /* 섹션1 */
  .sec01 {
    /* max-width: 99%; */
    height: 70vh;
    background-image: url(../img/main/main.png);
    background-size: cover;
    background-position: 80% 0;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .txt_sec01 {
    width: 100%;
    box-sizing: border-box;
    padding: 12vh 3vw;
  }

  .sec01_wrap h2 {
    font-size: 3.2rem;
    color: #252525;
    font-weight: bold;
    margin-bottom: 2.5vh;
    line-height: 8vw;
  }
  .sec01_wrap b {
    font-size: 1.2rem;
    color: #5a5a5a;
    font-weight: 600;
    margin-bottom: 2.5vh;
    line-height: 6vw;
  }
  .sec01_wrap p {
    display: none;
  }
  /* 두번째 섹션 */
  .best1.photo3 {
    display: none;
  }
  .txt_box h3 {
    font-size: 18px;
  }

  .txt_box p {
    font-size: 20px;
  }
  .bottom_box {
    width: 90%;
  }
  /* 섹션3 */
  .sec03_wrap .txt_wrap1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
  }
  /* 섹션4 */
  .sec04 {
    padding: 10px;
  }
  .sec04 h2 {
    font-size: 28px;
  }
  .sec04_box {
    flex-direction: column;
  }
  .sec04_wrapper {
    height: 58vh;
  }

  .box_wrapper {
    border-radius: 20px 20px 0 0;
    flex: 2;
  }
  .txt_wrapper {
    padding: 1vh 1vw;
    flex: 1;
  }
  .txt_wrapper h3 {
    font-size: 1.58rem;
  }

  .txt_wrapper h4 {
    font-size: 16px;
  }
  .txt_wrapper p {
    font-size: 14px;
  }
  /* 섹션6 */
  .sec06_wrapper::before {
    content: "";
    background-image: url(../img/main/mall01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 13%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    transition: 0.3s;
    background-color: #fff;
  }
  .txt_mall {
    text-align: center;
  }

  /* 섹션7 */
  .sec07::before {
    content: "";
    background-image: url(../img/icon/logo.png);
    background-position: center 10vw;
  }
  .sec07_text {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 24vw 10vh;
  }
  .sec07_text h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  /* 섹션4 */
  .sec04 {
    padding: 10px;
  }
  .sec04 h2 {
    font-size: 28px;
  }
  .sec04_box {
    flex-direction: column;
  }
  .sec04_wrapper {
    height: 58vh;
  }

  .box_wrapper {
    border-radius: 20px 20px 0 0;
    flex: 2;
  }
  .txt_wrapper {
    padding: 1vh 1vw;
    flex: 1;
  }
  .txt_wrapper h3 {
    font-size: 22px;
  }
  .txt_wrapper h4 {
    font-size: 16px;
  }
  .txt_wrapper p {
    font-size: 14px;
  }
  /* 섹션7 */
  .sec07_text h2 {
    font-size: 2rem;
  }
  /* 푸터 */
  .bottom_txt {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
}
