@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #383838;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  border-radius: 20px;
}
.page_wrap {
  width: 100%;
}

header {
  width: 100%;
  height: auto;
  /* border-bottom: 1px solid #eeeeee; */
  position: fixed;
  z-index: 999;
}
.headerwrap {
  width: 100%;
  height: 80px;

  background-color: #fff;
  transition: 0.3s;
}
.headerwrap:hover {
  background-color: #fff;
}
.header_wrapper {
  width: 84%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
h1 {
  width: 140px;
  height: 20px;
  padding: 30px 0;
}
nav {
  width: 36%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  width: 100%;
  height: auto;
  position: relative;
}
nav > ul::after {
  position: absolute;
  top: 80px;
  left: -80px;
  content: "메뉴배경";
  font-size: 0;
  display: block;
  width: 128%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  /* border: 1px solid #f5f5f5; */

  border-top: none;
  transition: 0.3s;
  border-radius: 0px 0px 20px 20px;
}
.hidden_menu {
  padding: 28px 0;
  display: none;
}

nav > ul:hover::after {
  height: 240px;
}
.submenu:not(:hover) > li > a {
  color: #797979;
}
.icons {
  display: flex;
  padding: 30px 0;
  column-gap: 20px;
}

.login {
  width: 21px;
  height: 21px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -2211px -499px;
}
.login:hover {
  background-repeat: no-repeat;
  background-image: url(../img/icon/login_green.png);
  background-position: 1px 0px;
  background-size: 90%;
}
.search {
  width: 20px;
  height: 20px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -1293px -628px;
}
.close {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/close.png);
  background-repeat: no-repeat;
  position: relative;
  left: -20px;
  top: 1px;
  display: none;
}
.hidden_menu {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/menu.png);
  background-repeat: no-repeat;
  position: relative;
  display: none;
  top: -2px;
}

.search:hover {
  background-image: url(../img/icon/search_green.png);

  background-position: 1px 20px;
  background-size: 102%;
}

/*2차메뉴*/
nav > ul > li {
  position: relative;
  top: 0;
  left: 0;
}
.submenu {
  width: 156%;
  height: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 80px;
  left: -18px;
  line-height: 32px;
  transition: 0.5s;
  column-gap: 70px;
  color: #575757;
  text-align: center;
  z-index: 55;
  transition: 0.3s;
}
.submenu li {
  padding-top: 20px;
}
nav > ul:hover .submenu {
  height: 210px;
}
nav > ul > li:hover > a {
  color: #237b22;
}
.submenu > li:hover > a {
  color: #237b22;
}
/* 메뉴 애니메이션 */
nav > ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(1):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 72px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 56px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(3):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 56px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav > ul > li:nth-child(4):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 56px;
  height: 4px;
  display: block;
  background-color: #237b22;
  transform: scaleX(0);
  transition: 0.3s;
}
nav ul li:nth-child(1):hover::after {
  width: 72px;
  transform: scaleX(1);
}
nav ul li:nth-child(2):hover::after {
  width: 56px;
  transform: scaleX(1);
}
nav ul li:nth-child(3):hover::after {
  width: 56px;
  transform: scaleX(1);
}
nav ul li:nth-child(4):hover::after {
  width: 56px;
  transform: scaleX(1);
}

/* 검색창 */
.top_searchbar {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 50px 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  opacity: 0;
}
.top_searchbar form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.input_box {
  width: 630px;
}
.input_box input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #464646;
  color: #464646;
  height: 50px;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  outline: none;
}
.search_btn {
  box-sizing: border-box;
  padding: 16px 0;
}

section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 12rem;
}
/* section01 */
.sec01 {
  max-width: 100%;
  height: 775px;
  margin: 0 auto;
  /* margin-bottom: 8rem; */
}
.main_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.sec01_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}
.sec01_wrap img {
  max-width: 100%;
  height: 775px;
  object-fit: cover;
  object-position: center;
}
.sec01_wrap .txt_sec01 {
  position: absolute;
  top: 25vh;
  left: 5vw;
}
.sec01_wrap h2 {
  font-size: 3.5rem;
  color: #252525;
  font-weight: bold;
  margin-bottom: 48px;
  line-height: 64px;
}
.sec01_wrap b {
  font-size: 2.5rem;
  color: #252525;
  font-weight: 500;
  margin-bottom: 2.8vh;
  line-height: 48px;
}
span {
  color: #237b22;
}
.sec01_wrap.main2 {
  width: 100%;
  height: 775px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}
.sec01_wrap.main2 .txt_sec02 {
  position: absolute;
  top: 360px;
  right: 160px;
  text-align: end;
}

.sec01_wrap.main2 > .txt_sec02 h2 {
  font-size: 3.2rem;
  color: #252525;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 48px;
}
.sec01_wrap.main2 > .txt_sec02 p {
  font-size: 18px;
  color: #717171;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 24px;
}

.sec01_wrap p {
  color: #464646;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.main_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: -70px;
}

/* 섹션2 */
.sec02_wrap {
  width: 100%;
  max-width: 1920px;
  height: 660px;
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.sec02_wrap > h3 {
  box-sizing: border-box;
  padding: 0 10%;
  font-size: 32px;
  color: #000;
  font-weight: bold;
  margin-bottom: 42px;
  text-align: center;
}
.sec02_wrapper {
  width: 95%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}
.left_grey {
  cursor: pointer;
}
.right_grey {
  cursor: pointer;
}

.sec02_all_box {
  margin: 0 auto;
  width: 83%;
  height: 600px;
}
.sec02_box {
  width: calc(33.3% - 20px);
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  flex: 1 1 calc(33.3% - 20px);
}
.sec02_box:last-child {
  margin-right: 0;
}
.img_box {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 18px;
}
.txt_box {
  width: 80%;
  height: 120px;
  display: flex;
  flex-direction: column;
}
.img_box img {
  width: 100%;
}
.txt_box_txt {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.txt_box_icon {
  width: 20%;
  box-sizing: border-box;
  padding: 0 3.5rem;
}
.txt_box h3 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 18px;
  transition: 0.2s;
  line-height: 1.2;
}
.txt_box p {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 12px;
  transition: 0.2s;
  line-height: 1.2;
}
.txt_box h4 {
  font-size: 18px;
  font-weight: 400;
  color: #ff1f1f;
  margin-bottom: 18px;
  transition: 0.2s;
  line-height: 20px;
}
.sale {
  text-decoration: line-through;
  color: #5e5e5e;
}
.sec02_photo h3:hover {
  text-decoration: underline;
}

/* section3 */

.sec03 {
  width: 100%;
  height: 420px;
  min-height: 360px;
  box-sizing: border-box;
  text-align: center;
}
.sec03_wrap {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
.sec03_wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.9;
  background-image: url(../img/main/mall3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.txt_wrap1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  text-align: end;
  position: absolute;
  top: 120px;
  right: 8rem;
}
.sec03_wrap h2 {
  font-weight: 600;
  margin-bottom: 24px;
  color: #000000;
  font-size: 36px;
  font-weight: 600;
  margin-right: 50px;
  line-height: 32px;
}
.sec03_wrap p {
  color: #5e5e5e;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5rem;
  margin-right: 50px;
}
.txt_wrap1 a {
  width: 240px;
  height: 45px;
  box-sizing: border-box;
  padding: 1vh 2vw;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 48px;
  border-radius: 50px;
  border: 1px solid #9d9d9d;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  color: #696969;
  text-align: center;
  transition: 0.3s;
  position: relative;
  left: -3rem;
}
.txt_wrap1 a:hover {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
}

/* 섹션4 */
.sec04 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.sec04_wrapper {
  /* width: 83%; */
  max-width: 1600px;
  height: 57vh;
  margin: 0 auto;
}
.sec04 h2 {
  width: 100%;
  color: #475049;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  word-wrap: break-word;
}
.sec04_box {
  /* width: 100%;*/
  height: 50vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fbf6ee;
  transition: 0.3s;
}
.box_wrapper {
  /* width: 50%; */
  /* height: 100%; */
  min-height: 200px;
  overflow: hidden;
  background-image: url(../img/main/recipe0.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 20px 0 0 20px;
  flex: 2;
  transition: 0.3s;
}
.sec04_box:hover .box_wrapper {
  background-size: 101%;
  background-size: cover;
}
.txt_wrapper {
  flex: 1;
  box-sizing: border-box;
  padding: 6vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.txt_wrapper h3 {
  font-size: 2rem;
  color: #383838;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 2.5rem;
  word-wrap: break-word;
}
.txt_wrapper h4 {
  font-size: 18px;
  color: #b7b7b7;
  font-weight: 300;
  margin-bottom: 10px;
}
.txt_wrapper p {
  font-size: 24px;
  color: #7a857c;
  font-weight: 400;
  margin-bottom: 20px;
}
.txt_wrapper p::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -2131px -499px;
  background-image: 100%;
  position: relative;
  top: 2px;
}
.sec04 button {
  box-sizing: border-box;
  padding: 10px 2vw;
  width: 180px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #9d9d9d;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: #696969;
  transition: 0.3s;
}
.sec04 button:hover {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
}

/* section5 */
.sec05 {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  overflow: hidden;
}
.sec05 > h2 {
  width: 83%;
  color: #475049;
  font-size: 32px;
  font-weight: bold;
  width: 1600px;
  text-align: start;
  margin: 0 auto;
  margin-left: 8vw;
  margin-bottom: 40px;
}
/* 슬라이드 전체 */
.community_slide {
  width: 100%;
  position: relative;
  height: 464px;
  overflow: hidden;
}
/* 슬라이드1세트  */
.slide_box1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 0;
  animation: slide1 16s linear infinite;
  width: max-content;
}
.community_slide:hover .slide_box1,
.community_slide:hover .slide_box2 {
  animation-play-state: paused;
}
.slide_box2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 0;
  width: max-content;
  animation: slide2 16s linear infinite;
}

@keyframes slide1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.community_slide .recipe_box {
  width: 560px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  margin-right: 12px;
  transition: 0.3s;
}
.community_slide .recipe_box:hover {
  border: 1px solid #616161;
}
.img1 {
  max-width: 100%;
  height: 288px;
  background-image: url(../img/main/community1.jpg);
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: -20px -44px;
}
.img2 {
  max-width: 100%;
  height: 288px;
  background-image: url(../img/main/community2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.img3 {
  max-width: 100%;
  height: 288px;
  background-image: url(../img/main/community3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.img4 {
  max-width: 100%;
  height: 288px;
  background-image: url(../img/main/community1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.recipe_box .txt_1 {
  margin-top: 20px;
  font-size: 18px;
  color: #9e9e9e;
  margin-left: 50px;
}
.recipe_box .txt_1 p {
  margin-bottom: 20px;
}
.recipe_box .txt_1 h4 {
  color: #525252;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.recipe_box .txt_1 h3 {
  color: #5e5e5e;
  font-size: 20px;
}
.recipe_box .txt_1 h3::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url(../img/common/css_sprites_1.png);
  background-position: -2131px -499px;
  position: relative;
  top: 3px;
}
.recipe_box .txt_2 {
  text-align: center;
  padding: 165px 0px;
}
.recipe_box .txt_2 p {
  font-size: 20px;
  font-weight: bold;
}
.recipe_box .txt_2 button {
  box-sizing: border-box;
  width: 180px;
  height: 45px;
  color: #797979;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #525252;
  border-radius: 50px;
  margin-top: 60px;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s;
}
.recipe_box .txt_2 button:hover {
  background-color: #000000;
  color: #ffffff;
}
/* section06 */
.sec06 {
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 45vh;
}
.sec06_wrapper {
  max-width: 1920px;
  min-height: 200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.sec06_wrapper::before {
  content: "";
  background-image: url(../img/main/mall01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.9;
  transition: 0.3s;
  background-color: #fff;
}
.sec06_wrapper:hover.sec06_wrapper::before {
  /* filter: contrast(0.5); */
  opacity: 0.6;
}

.txt_mall {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 18vh 4vw;
  text-align: right;
  position: relative;
}

.txt_mall h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #474747;
}
.txt_mall span {
  color: #161616;
  font-size: 2rem;
  font-weight: bold;
}
.txt_mall button {
  box-sizing: border-box;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 32px;
  border-radius: 50px;
  border: 1px solid #9d9d9d;
  color: #5f5f5f;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.txt_mall button:hover {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
}
/* .txt_mall:hover {
  background-color: rgba(185, 185, 185, 0.5);
} */

/* section07 */
.sec07 {
  width: 100%;
  height: 37vh;

  position: relative;
}
.sec07::before {
  content: "";
  background-image: url(../img/icon/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: 0.3s;
  background-color: #fff;
  opacity: 1;
}

.sec07:hover.sec07::before {
  opacity: 0.6;
}

.sec07_text {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 9rem 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 160px;
  position: relative;
}

.sec07_text h2 {
  font-size: 48px;
  color: #000000;
  font-weight: bold;
}
.sec07_text button {
  width: 240px;
  height: 45px;
  box-sizing: border-box;
  padding: 10px 2vw;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  margin-top: 32px;
  border-radius: 50px;
  border: 1px solid #9d9d9d;
  background-color: transparent;
  cursor: pointer;
  color: #5f5f5f;
  transition: 0.3s;
}

.sec07_text button:hover {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
}

/* section08 */
.sec08 {
  width: 100%;
  height: 37vh;
  background-color: #eee;
  box-sizing: border-box;
  padding: 10rem 10%;
  margin-bottom: 0;
}
.sec08_wrapper {
  margin-bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec08:hover.sec07::before {
  opacity: 0.6;
}

.sec08_text {
  width: 50%;
  height: fit-content;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  flex: 2;
}

.sec08_text h2 {
  font-size: 3rem;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}
.sec08_text h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.2rem;
  font: inherit;
  vertical-align: baseline;
  margin-bottom: 10px;
}

.sec08_text button:hover {
  background-color: #000000;
  color: #fff;
  border: 2px solid #000000;
}
.sec_8_btn {
  width: 50%;
  display: flex;
  gap: 36px;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.sec_8_btn button {
  width: 240px;
  height: 45px;
  box-sizing: border-box;
  padding: 1vh 2vw;
  font-size: 16px;
  font-weight: 600;

  border-radius: 50px;
  border: 1px solid #9d9d9d;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  background-color: #000;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Google::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 20px;
  background-image: url(../img/icon/google.png);
  background-position: -1px 0px;
  position: relative;
  top: 0px;
  left: -6px;
}
.app::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 20px;
  background-image: url(../img/icon/app.png);
  background-position: 0px -1px;
  position: relative;
  top: 0px;
  left: -6px;
}
.sec_8_btn button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  font-weight: bold;
}
/* footer */
footer {
  width: 83%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 48px;
}
footer img {
  margin-bottom: 32px;
}
footer p {
  font-size: 16px;
  color: #b6b6b6;
  margin-bottom: 32px;
  line-height: 24px;
}
.bottom_txt {
  display: flex;
  justify-content: space-between;
}
.txt_h4 {
  font-size: 16px;

  display: flex;
  column-gap: 20px;
}
.bottom_txt h4 {
  color: #797979;
  font-size: 16px;
}
